---
const { infos } = Astro.props
const spells = await Astro.glob('../../blocks/spells/*.md')
const spell = spells.find(
    (spell) => (
        spell.frontmatter.title === infos.name
    )
)
const statsKeys = Object.keys(spell?.frontmatter.stats)
const statsValues = Object.values(spell?.frontmatter.stats)
---

<div class="spell">
    <header>
        <h3>{ infos.name }</h3>
        <div class="stats">
            <table>
                <tr>
                    { 
                        infos.aat &&
                        <th>aat</th>
                    }
                    { 
                        statsKeys.map((stat: string) => (
                            <th>{ stat }</th>
                        )) 
                    }
                </tr>
                <tr>
                    {
                        infos.aat &&
                        <td>{ infos.aat }</td>
                    }
                    { 
                        statsValues.map((stat: any) => (
                            <td>{ stat }</td>
                        ))
                    }
                </tr>
            </table>
        </div>
    </header>
    <blockquote>
        <p>{ spell?.rawContent() }</p> 
    </blockquote>
</div>

<style>
    .spell {
        margin-bottom: 10px;
        box-shadow: rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
    }

    header {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    header > h3 {
        flex-grow: 1;
    }
    header table {
        width: auto;
    }

    th {
        font-weight: normal;
        font-size: .8em;
        text-transform: uppercase;
    }
</style>