---
const { categories, pages } = Astro.props
---

<nav>
    <ul>
        {
            categories.map((category) => (
                <li>
                    <div class="navBlock">{ category.title }</div>
                    <ul>
                        {
                            pages.map((page) => (
                                page.tags.includes( category.description ) &&
                                <li>
                                    <a class="navBlock" href={ page.url }>{ page.title }</a>
                                </li>
                            ))
                        }
                    </ul>
                </li>
            ))
        }
    </ul>
</nav>

<style>
    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    .navBlock {
        display: block;
        padding: 20px;
        margin: 0;
        text-transform: uppercase;
        background-color: #eee;
        box-shadow: rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
    }
        .navBlock + ul > li > .navBlock {
            padding-left: 30px;
            text-transform: none;
            background-color: transparent;
            transition: background-color ease .3s;
            box-shadow: inset rgb(0 0 0 / 14%) 0px 1px 1px 0px, inset rgb(0 0 0 / 12%) 0px 1px 3px 0px;
        }
        .navBlock + ul > li > .navBlock:hover {
            background-color: whitesmoke;
        }
</style>