---
import AbilitiesList from './AbilitiesList.astro'

const { labels } = Astro.props
---

<div class="abilities">
    <h3>{ labels.map((label: string) => <>{label}<span>,&nbsp;</span></>) }</h3>
    <AbilitiesList
        labels = { labels }
    />
</div>

<style>
    .abilities {
        margin-bottom: 10px;
        box-shadow: rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
    }
</style>