---
const { stats } = Astro.props
const usedStats = Object.fromEntries(Object.entries(stats).filter(([key]) => stats[key] !== null));
const statsKeys = Object.keys(usedStats)
const statsValues = Object.values(usedStats)
---

<table>
    <thead>
        <tr>
            { 
                statsKeys.map((stat: string) => (
                    <th>{ stat }</th>
                )) 
            }
        </tr>
    </thead>
    <tbody>
        <tr>
            { 
                statsValues.map((stat: any) => (
                    <td>{ stat }</td>
                ))
            }
        </tr>
    </tbody>
</table>