---
import AbilitiesList from "./AbilitiesList.astro"
import Advantages from "./Advantages.astro"
import Stats from "./Stats.astro"

const { infos } = Astro.props
const weapons = await Astro.glob('../blocks/weapons/*.md')
const weapon = weapons.find(
    (weapon) => (
        weapon.frontmatter.title === infos.name
    )
)

const type = weapon?.frontmatter.type
const stats = {
    mat: type === 'melee' ? infos.stat : null,
    rat: type === 'range' ? infos.stat : null,
    ...weapon?.frontmatter.stats
}
const qualities = weapon?.frontmatter.qualities
const abilities = weapon?.frontmatter.abilities
---

<div class="weapon">
    <header>
        <h3>{ infos.name } - { weapon?.frontmatter.type.toUpperCase() }</h3>
        <div class="stats">
            <Stats
                stats = { stats }
            />
        </div>
        { 
            qualities &&
            <div class="qualities">
                <Advantages 
                    labels = { qualities }
                />
            </div>
        }
    </header>
    { 
        abilities &&
        <AbilitiesList
            labels = { abilities }
        />
    }
</div>

<style>
    .weapon {
        margin-bottom: 10px;
        box-shadow: rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
    }

    header {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    header > h3 {
        flex-grow: 1;
    }
    header table {
        width: auto;
        padding: 10px 20px;
    }

    th {
        font-weight: normal;
        font-size: .8em;
        text-transform: uppercase;
    }

    .qualities {
        flex-basis: 100%;
        margin: 0 20px 10px;
        text-align: right;
    }
</style>